<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu carrito</title>
</head>
<body>
    <h1>Productos de tu carrito</h1>
    <ul>
        {{#each cart.products}}
            <li>Nombre: {{this.product.title}} | Precio: {{this.product.price}}| Cantidad: {{this.quantity}}</li>
        {{/each}}
    </ul>
</body>
</html>