<div class="container">
    <h1>Ingresa tu nueva contraseña para {{user.email}}</h1>
    <form  action="/api/users/updatePassword?uid={{user._id}}" method="post" class="form-group w-50">       
        <label class="form-label">Nueva contraseña</label>
        <input type="pasword" name="password" class="form-control" required="required" id="password" oninput="check()">
        <label for="password_confirm">Vuelve a ingresarla:</label>
        <input name="password_confirm" required="required" type="password" id="password_confirm" oninput="check()"/>
        <input type="submit" >
    </form>
</div>

<script>
    function check() {
    var input = document.getElementById('password_confirm');
    if (input.value != document.getElementById('password').value) {
        input.setCustomValidity('Password Must be Matching.');
    } else {
        input.setCustomValidity('');
    }
}
</script>