<div class="container">
    <h1>Recupera tu contraseña</h1>
    <form  action="/api/users/passwordRecovery" method="post" class="form-group w-50">       
        <label class="form-label">Email</label>
        <input type="text" name="email" class="form-control">
        <input type="submit" >
    </form>
    <p>¿No tenes cuenta? <a href="/register">Registrate</a></p>
</div>